body {
  background-color: #b8cbd0;
}

h1 {
  color: #212e53;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #212e53;
}
li {
  text-decoration: none;
  display: block;
  float: left;
}
